<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <!-- Configura el manejador para ejecutar Node.js en IIS -->
      <add name="iisNode" path="server.js" verb="*" modules="iisNode" />
    </handlers>

    <rewrite>
      <rules>
        <!-- Redirige todas las solicitudes a server.js excepto si es un archivo o directorio físico -->
        <rule name="DynamicContent">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    
    <!-- Configuración para habilitar el manejo de errores detallados -->
    <httpErrors errorMode="Detailed" />
  </system.webServer>
</configuration>
